{{ partial "header" . }}
    <div id="pagecontent" class="container">
      <div id="page-wrapper" class="col-sm-12">
        <div id="left-menu" class="col-sm-3">


          <div class="menu-box">
            <div class="pagemenu">
              <ul>
        				<a href="/"><li>Home</li></a>
        				<a href="/about"><li class="active">About Us</li></a>
        				<a href="/contact"><li>Get A FREE Quote</li></a>
        				<a href="/services"><li >Our Services</li></a>
        				<a href="/care"><li>Care Options</li></a>
        				<a href="/contact"><li >Contact Us</li></a>
              </ul>
            </div>
          </div>

          <div class="testi-side">
            <p><img src="/images/{{ .Params.testimonial }}" class="img-responsive" alt="Testimonials"></p>
          </div>        </div>

        <div id="article-wrapper" class="col-sm-9">
          <div id="pre-content-page" class="col-sm-12">
  <div class="bluebg">
    <img src="/images/{{ .Params.image }}" class="img-responsive">
  </div>
</div>
<div id="main-article" class="clearfix">
  {{ .Content }}
</div>

        <div class="col-sm-12 clearfix testi-bottom">
<hr>
<p><img src="/images/paper-5.jpg" class="img-responsive" alt="Testimonials"></p>
</div>
</div>
</div>
{{ partial "footer" . }}
