      <div class="clearfix"></div>
      <footer>
          <div class="footer-link">
            <a href="/">Home</a>  -  <a href="/about">About Us</a>  - <a href="/care/alzheimers">Alzheimer's Care</a>  -  <a href="/services">Home Care</a>  -  <a href="/care/nursing-homes">Nursing</a>  -  <a href="/care/residential-care-homes">Residential</a>  -  <a href="/care/independent-living">Retirement</a>  -  <a href="/employment">Employment</a>  -  <a href="/contact">Contact Us</a>
            <br>
            Homecare Consulting Service | Senior Home Care Agency | Non Medical Home Care Service | Senior Care | Elderly Home Care Services | Nursing Homes | Companion and Homemaker Services | Personal Care Attendants | Companion Care | Senior Caregivers
          </div>
					<div class="copyright">
						<a href="https://my.adlware.com/familyportal">Client Care Portal</a> |Flourish in Place, LLC. &copy; 2016 | <a href="https://www.flourishinplace.com">www.flourishinplace.com</a>        
					| Florida Home Health Agency License #299994622</div>
      </footer>
    </div>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <!--<script src="/js/jquery-1.11.2.min.js"></script>-->
     <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/jquery.cycle2.min.js"></script>
    <!--<script src="/js/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
</body>
</html>
