      <div class="clearfix"></div>
      <footer>
          <div class="footer-link">
            <a href="index.php">Home</a>  -  <a href="sub_about.php">About Us</a>  - <a href="sub_alzheimer.php">Alzheimer's Care</a>  -  <a href="sub_homecare.php">Home Care</a>  -  <a href="sub_nursing.php">Nursing</a>  -  <a href="sub_residential.php">Residential</a>  -  <a href="sub_retirement.php">Retirement</a>  -  <a href="sub_becomecaregiver.php">Employment</a>  -  <a href="sub_contactus.php">Contact Us</a>  -  <a href="sitemap.php">Sitemap</a>
            <br>
            Homecare Consulting Service | Senior Home Care Agency | Non Medical Home Care Service | Senior Care | Elderly Home Care Services | Nursing Homes
          </div>
					<div class="copyright">
						<a href="https://my.adlware.com/familyportal">Client Care Portal</a> |Flourish in Place, LLC. &copy; 2016 | <a href="http://www.flourishinplace.com">www.flourishinplace.com</a>        
					| License #234579</div>
      </footer>
    </div>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cycle2.min.js"></script>
  
</body>
</html>
