<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Flourish in Place Home Care Solutions is dedicated to the health and well-being of senior citizens through providing operational and startup consulting services to in-home care agencies and quality in home care to seniors." />
		<meta name="keywords" content="home care, senior care, elderly care, elder care, non medical home care, home care consulting agency, elderly homecare, senior home care, elderly home care, senior homecare services, senior care franchise, senior home care services, elderly home care services, senior care manager, senior care agency, home care consulting, nursing homes for seniors, senior home care agency, homecare manager, senior home care agencies, non medical home care service, elderly homecare services, senior homecare agencies, home care consulting service, homecare consulting service" />    
		<meta name="author" content="Flourish in Place Home Care Solutions">	
    <link rel="icon" href="/images/favicon.png">
      <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-iphone.jpg">
    
      <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon-iphone-retina.jpg">
    
      <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon-ipad.jpg">
    
      <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon-ipad-retina.jpg">

    <title>Flourish in Place Home Care Solutions | Senior Home Care</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    {{ template "_internal/google_analytics_async.html" . }}
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div id="header-box" class="container">
        <div id="imglogo" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <a href="/"><img src="/images/logo.png" class="img-responsive" alt="Flourish in Place Home Care Solutions"></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-box">
          <div id="pretext-header" class="col-sm-12"></div>
          <div id="text-header">            
            <div class="big-header">Innovative and Inspired In-Home Care</div> 
            <div class="small-header">Independence for the ones you love</div>
          </div>
          <!--<div id="top-menu" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
   

          </div>-->
          <div id="call-header">
            <div class="call-us">Call us today!</div>
            <div class="numbers">
              <div>Local: (407) 845-9797</div>
              <div>Toll Free: (844) 822-1366</div>
            </div>
          </div>
        </div>
      </div>
      {{ if eq .URL "/" }}
        {{ partial "nav" . }}
      {{ end }}
    </header>
