<div id="horizontal-menu" class="container">
  <nav id="horizontal-navbar" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> Home</a>
      </div>          
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="dropdown sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{{ .Name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {{ range .Children }}
                    <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
            {{else}}
              <li class="{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
                <a href="{{.URL}}">
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
                </a>
            {{end}}
          {{end}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

