<div class="menu-box">
  <div class="pagemenu">
    <ul>
      <li><a href="/">Home</a></li>
      <li {{ if in .URL "about" }}class="active"{{ end }}><a href="/about">About Us</a></li>
      <li><a href="/contact">Get A FREE Quote</a></li>
      <li {{ if in .URL "services" }}class="active"{{ end }}><a href="/services">Our Services</a></li>
      <li {{ if in .URL "care" }}class="active"{{ end }}><a href="/care">Care Options</a></li>
      <li {{ if in .URL "contact" }}class="active"{{ end }}><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</div>
