{{ partial "header" . }}
    <div id="homecontent" class="container">
      {{ partial "homepage-banner" . }}
      <div class="col-sm-12">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          {{ range where .Data.Pages "Title" "Home" }}
            {{ .Content }}
          {{ end }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="veterans-postcard">
            <a href="/veterans"><img src="http://www.mypostcardmania.com/mailbox/img/152357m.png" alt="Postcard Advertising"></a>
          </div>
          <script src="//fast.wistia.com/assets/external/E-v1.js" async type="text/javascript"></script>
          <script src="//fast.wistia.com/embed/medias/b5a9l8t5ln.jsonp" async type="text/javascript"></script>
          <script src="//fast.wistia.com/embed/medias/frgunmr7l1.jsonp" async type="text/javascript"></script>
          <div class="sidebar-videos">
            <h2>Family Room</h2>
            <div class="wistia_embed wistia_async_b5a9l8t5ln popover=true">&nbsp;</div>
            <h2>Home Safety Assessment</h2>
            <div class="wistia_embed wistia_async_frgunmr7l1 popover=true">&nbsp;</div>
          </div>
          <p class="center-block employment-opportunities">
          	<a href="/employment"><img src="/images/pic_03.jpg" class="img-responsive" alt="Employment Opportunities"></a>
          </p>
        </div>

      </div>
{{ partial "footer" . }}
